/*filterscreen*/
#oldschoolfilter {
  position: fixed;
  width: 80%;
  height: 80%;
  opacity: 0.18;
  object-fit: fill;
  
  pointer-events: none;
}


body {
  font-family: 'Press Start 2P';
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000; /* Adjust this if you want a different color around the monitor bezel */
}

#monitor-frame {
  padding: 4%; /* Change this value to increase or decrease the monitor bezel */
  background-color: #333; /* Color of the monitor bezel */
  border-radius: 2%; /* Rounded corners of the monitor */
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

#screen-container {
  width: 100%;
  height: 100%;
  background-color: #9D9B9B;
  position: relative;
}



#first-screen, #second-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#first-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#first-screen img {
  display: block;
  width: 50%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

#go-to-second-screen {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
  font-family: 'Press Start 2P';
}

#go-to-second-screen:hover {
  color: #007bff; /* Change the color on hover */
}


#second-screen {
    z-index: 1;
    display: none;
    flex-direction: column;
    background-color:#D9D9D9;
}

#taskbar {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: calc(100% - 40px); /*100%;*/
    height: 50px;
    background-color: #9D9B9B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 0 20px;
}

.logo-button,
.cart-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex; /* Add this line */
    align-items: center; /* Add this line */
}

.logo-button img,
.cart-button img {
    width: 30px;
    height: 30px;
}

.logo-button:hover img {
    content: url(images/logo_white.png);
}

.cart-button:hover img {
    content: url(images/cart_white.png);
}

.cart-button {
    margin-right: 0; /* Change this line to margin-right: 0px; */
    margin-left: auto; /* Add this line */
}


#desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    height: calc(100% - 50px);
}

.icon {
    margin: 10px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
}

.icon img {
    width: 70px;
    height: auto;
}

.icon span {
    margin-top: 10px;
    font-size: 12px;
    color: #000;
    font-family: 'Press Start 2P', cursive;
}

.icon:hover {
    transform: scale(1.1);
}





/* overlay*/



.overlay {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  background-color: #D9D9D9;
  z-index: 2000;
  border: 4px solid black;
  border-radius: 10px 10px 0 0;

}

.overlay .overlay-taskbar {
  height: 23px;
  background-color: #575757;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: #FFF;
  border-bottom: 4px solid black;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  cursor: move;
}

.overlay .overlay-content {
  height: calc(100% - 50px);
  overflow-y: auto;
}

.overlay.hidden {
  display: none;
}

.overlay #close-overlay,
.overlay #close-overlay-ship,
.overlay #close-overlay-size,
.overlay #close-overlay-signup,
.overlay #close-overlay-about,
.overlay #close-overlay-contact,
.overlay #close-cart-overlay {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.overlay #close-overlay img,
.overlay #close-overlay-signup img,
.overlay #close-overlay-ship img,
.overlay #close-overlay-size img,
.overlay #close-overlay-about img,
.overlay #close-overlay-contact img,
.overlay #close-cart-overlay img {
  width: 20px;
  height: 20px;
  transition: src 0.3s ease;
}

.overlay #close-overlay:hover img,
.overlay #close-overlay-signup:hover img,
.overlay #close-overlay-ship:hover img,
.overlay #close-overlay-size:hover img,
.overlay #close-overlay-about:hover img,
.overlay #close-overlay-contact:hover img,
.overlay #close-cart-overlay:hover img {
  content: url(images/xbutton_on.png);
}


 .indicator {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: #000;
    margin-bottom: 10px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.product-thumbs {
    border: 3px solid black;
    padding: 10px;
    width: 20%;
    border-radius: 10px;
}

.product-thumbs img {
    width: 100%;
    margin-bottom: 10px;
}

.product-main-image {
    width: 40%;
}

.product-main-image img {
    width: 100%;
}

.product-details {
    width: 30%;
}

.product-details div, .product-details button {
    margin-bottom: 10px;
}

.buy-btn, .cart-btn {
    width: 100%;
    padding: 5px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}

.size-buttons {
    margin-top: 20px;
    text-align: center;
  }
  
  .size-container {
    display: inline-block;
    border: 2px solid #BABABA;
    border-radius: 10px;
    padding: 5px;
  }
  
  .size-button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    color: #BABABA;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    transition: color 0.3s;
  }
  
  .size-button:hover {
    color: #000;
  }
  
  .size-button.selected {
    background-color: black;
    color: white;
  }
  

.page-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.page-buttons button {
    width: 48%;
    padding: 5px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}

.buttonz {
    border: 4px solid #BABABA;
    border-radius: 10px;
    background-color: transparent;
    color: #000;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    padding: 10px 20px;
    transition: border-color 0.3s, color 0.3s;
  }
  
  .buttonz:hover {
    border-color: #FFF;
    color: #FFF;
  }
  
  #cart-overlay {
    z-index: 9999; /* Set a high z-index value to ensure it appears on top */
  }
  


.hidden {
    display: none;
}





/* CSS for Cart Items */
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-image img {
  width: 80px;
  height: 80px;
}

.cart-item-details {
  margin-left: 10px;
}

.cart-item-name {
  font-weight: bold;
}

.cart-item-price {
  margin-top: 5px;
}

.cart-item-remove {
  margin-left: auto;
}

.remove-button {
  padding: 5px 10px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #cc0000;
}




/*signup*/

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  margin-top: 15%;
}

.editable-box {
  width: 60%;
  height: 4px;
  margin-top: 50%;
  background-color: #d9d9d9;
  margin: 0 auto;
  padding: 10px;
  resize: none;
  overflow: auto;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
}
#submit-btn:hover {
cursor: pointer;
border:4px solid #FFF; 
color: #fff;
transition: color 0.3s ease-in-out;
transition: border 0.3s ease-in-out;
}
#submit-btn {
border:4px solid rgba(186, 186, 186, 1);  
border-radius: 10px;
font-size: 14px;
padding: 10px;
font-family: 'Press Start 2P', cursive;
display: block;
position: relative;
background-color: #d9d9d9;
}
.subsubmit-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d9d9d9;
  padding: 20px;
  text-align: center;
}


/*shipping*/
.container {
  text-align: center;
  margin-top:2%;
}

.content {
  display: none;
  margin-top: 20px;
 
}

#btn {
  padding: 10;
  font-size: 14px;
}

.regionselectcontainer {
  text-align: center;
  margin-top:15%;
  font-size: 14;
}
#dropdown {
  font-family: 'Press Start 2P';
  font-size: 14px;
  padding: 10px;
  background-color: #D9D9D9;
  border:4px solid rgba(186, 186, 186, 1);  
border-radius: 10px;
}

#dropdown option {
  font-family: 'Press Start 2P';
  font-size: 14px;
  padding: 10px;
  background-color: #D9D9D9;
}
#dropdown:hover{
  color: #fff;
  border:4px solid #FFF;  
  cursor:pointer;
  transition: color 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}

/*sizing*/
.centerimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*contact*/
.contactboxes{
  
  text-align: center;
  width: 130px;
  height: 14px;
  padding: 15px;
  border: 3px solid #000;
  margin-top: 30px;
  margin-left: 30px;
  vertical-align: middle;
  border-radius: 10px;
  background-color: #575757;
  
}

.boxflexing{
  display:flex;
}

.emailbox,
.subjectbox{
  border-radius: 10px;
  border: 3px solid #BABABA;
  width:70%;
  height: 44px;
  margin-top: 30px;
  margin-left: 30px;
}

.messagebox{
  border-radius: 10px;
  border: 3px solid #BABABA;
  width:70%;
  height: 110px;
  margin-top: 30px;
  margin-left: 30px;
  overflow-y: auto;
}
.sendbutton{
text-align: center;
margin-top: 30px;
border-top: 2px solid #000;

}
.stcbutton{
background-color: #575757;
border: 4px solid #000;
border-radius: 8px;
font-family: 'Press Start 2P';
font-size: 14px;
padding: 15px;
margin-top:20px;
}
.stcbutton:hover{
  border-color: #fff;
  color: #fff;
  background-color: #2619e6;
  transition: background-color 0.3s ease-in-out;
  transition: color 0.5s ease-in-out;
  transition: border 0.3s ease-in-out;
  cursor:pointer;
}
.modal2 {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal2-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d9d9d9;
  padding: 20px;
  text-align: center;
}